files/jquery-3.4.1.js
files/node_modules/
files/.eslintrc.js
files/package.json
files/package-lock.json
files/.sass-cache
files/package.json
files/package-lock.json
files/style.css.map
files/SassWatchActivator.bat