h3 {
  display: block;
  margin: 0;
  font-weight: normal;
  font-size: 20px; }

.text-formatter {
  font-family: arial, sans-serif; }

.header__search-part {
  display: flex;
  padding: 23px 0px 0px; }
.header__top-nav {
  display: flex;
  border-bottom: 1px solid #ebebeb; }

.search-part__logo {
  height: 30px;
  width: 92px;
  background-size: 100% 100%;
  padding: 4px 28px 0px 30px; }
.search-part__search-form {
  box-shadow: none;
  display: flex;
  min-width: 640px;
  height: 40px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 10px 4px 10px 16px;
  margin-top: -15px;
  white-space: nowrap; }
  .search-part__search-form:hover {
    box-shadow: 0 0 10px 1px #dfe1e5;
    border: 1px solid #fff; }

.search-form__text-area {
  color: rgba(0, 0, 0, 0.87);
  margin: 5px 0;
  border-style: hidden;
  font-size: 16px;
  width: 530px; }
  .search-form__text-area:focus {
    outline: none; }
.search-form__keyboard-button {
  width: 19px;
  height: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 20px 5px;
  display: inline-block; }
.search-form__search-button {
  padding-top: 10px;
  display: block;
  height: 24px;
  width: 24px; }
  .search-form__search-button_path {
    fill: #4285f4; }

.top-nav {
  white-space: nowrap; }
  .top-nav__primary-nav {
    display: inline;
    margin-left: 155px; }

.primary-nav {
  white-space: nowrap; }

.secondary-nav {
  display: flex;
  white-space: nowrap; }

.button-wrapper {
  display: inline-flex;
  padding: 16px 12px 12px 10px;
  font-size: 13px;
  color: #5f6368; }
  .button-wrapper .color-properties {
    fill: #5f6368; }
  .button-wrapper:hover {
    color: #4285f4; }
    .button-wrapper:hover .color-properties {
      fill: #4285f4; }
  .button-wrapper__button-image {
    display: block;
    width: 16px;
    height: 16px; }
    .button-wrapper__button-image_path_changable {
      fill: #5f6368; }
  .button-wrapper__text {
    display: block; }
  .button-wrapper_border_selected {
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8; }
  .button-wrapper_border_default {
    padding: 3px;
    margin: 13px 9px 9px 7px;
    border: 1px solid transparent;
    border-radius: 2px; }
    .button-wrapper_border_default:hover {
      color: #5f6368;
      border: 1px solid #ebebeb;
      background-color: #F8F8FF; }

.results-bar {
  display: block;
  margin-left: 150px;
  height: 43px;
  width: 100%;
  min-width: 1101px;
  vertical-align: middle;
  line-height: 43px;
  font-size: 14px;
  color: #5f6368;
  padding-right: 8px;
  padding-left: 16px; }

.center-column {
  width: 632px;
  margin-right: 263px;
  margin-left: 150px;
  padding: 0px 25px; }

.upper {
  margin-left: -20px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  padding: 20px; }
  .upper__link {
    text-decoration: none; }
    .upper__link .link-properties {
      text-decoration: none; }
    .upper__link:hover .link-properties {
      text-decoration: underline; }
    .upper__link_path {
      padding: 1px 0;
      color: #3C4043; }
    .upper__link_text {
      padding-top: 4px;
      padding-bottom: 3px;
      color: #1a0dab; }

.upper-content {
  display: flex; }
  .upper-content__text-part {
    padding-right: 10px;
    padding-bottom: 20px;
    width: 380px; }
    .upper-content__text-part_text {
      font-size: 16px;
      line-height: 1.375; }
    .upper-content__text-part_date {
      color: #70757a;
      font-size: 12px;
      line-height: 1.33; }

.text-part {
  padding-right: 10px;
  padding-bottom: 20px;
  width: 380px; }
  .text-part_text {
    font-size: 16px;
    line-height: 1.375; }
  .text-part_date {
    color: #70757a;
    font-size: 12px;
    line-height: 1.33; }

.wrapper-extra-item {
  display: flex;
  padding: 4px 16px 0 8px;
  margin-left: 200px;
  margin-bottom: 27px; }

.extra-item {
  display: flex;
  padding-right: 25px; }
  .extra-item__text {
    color: #70757a;
    font-size: 12px; }
  .extra-item__icon {
    display: block;
    padding-right: 8px;
    width: 16px;
    height: 16px;
    line-height: 16px; }
    .extra-item__icon_path {
      fill: #9e9e9e; }

.center-column__search-item {
  margin-bottom: 27px; }

.search-item__search-header {
  text-decoration: none; }
  .search-item__search-header .link-properties {
    text-decoration: none; }
  .search-item__search-header:hover .link-properties {
    text-decoration: underline; }
  .search-item__search-header_path {
    padding: 1px 0;
    color: #3C4043; }
  .search-item__search-header_text {
    padding-top: 4px;
    padding-bottom: 3px;
    color: #1a0dab; }
.search-item_text {
  font-size: 14px;
  line-height: 1.57;
  word-wrap: break-word; }
.search-item_date {
  color: #70757a; }

.video-part__text {
  margin-block-start: 15px;
  margin-block-end: 15px; }
.video-part__video-block {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
  padding-bottom: 30px; }

.video-block__video-item {
  margin: 4px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.video-item__wrapper-video {
  display: inline-block; }
.video-item__video-channel {
  display: inline-flex;
  flex-direction: column;
  max-width: 205px; }

.wrapper-video {
  display: inline-flex;
  flex-direction: column;
  max-width: 205px;
  text-decoration: none; }
  .wrapper-video .link-properties {
    text-decoration: none; }
  .wrapper-video:hover .link-properties {
    text-decoration: underline; }
  .wrapper-video__video {
    height: 115px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  .wrapper-video__link {
    padding: 16px 16px 32px 16px;
    color: #1a0dab;
    font-size: 16px; }

.video-channel {
  padding: 8px 16px;
  color: #808080; }
  .video-channel__date_src {
    font-size: 12px;
    padding: 2px 0;
    line-height: 1.33em;
    color: #3C4043; }

/*# sourceMappingURL=style.css.map */
